<div class="container">

  <div class="row mt-3">

    <div class="col">
      <a href id="LoginWithAmazon" (click)="loginToAmazon()">
        <img alt="Login with Amazon" src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
          width="156" height="32" />
      </a>
    </div>

    <div class="btn btn-primary" (click)="refreshToken()">
      REFRESH
    </div>

  </div>

</div>
