<div class="container-fluid">
    <mat-toolbar color="secondary">
        <nav mat-tab-nav-bar>
            <a mat-tab-link routerLink="/login" routerLinkActive #login="routerLinkActive" [active]="login.isActive">
                Login
            </a>
            <a mat-tab-link routerLink="/home" routerLinkActive #home="routerLinkActive" [active]="home.isActive">
                Home
            </a>
        </nav>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>