<div class="container">
  <div class="row">
      <mat-tab-group>
          <mat-tab label="Vendors">
            <ng-template matTabContent>
              <ul>
                <li *ngFor="let vendor of vendorList">
                  {{ vendor | json }}
                </li>
              </ul>
            </ng-template>
          </mat-tab>
          <mat-tab label="Second">
            <ng-template matTabContent>
              The Second Content
            </ng-template>
          </mat-tab>
        </mat-tab-group>
  </div>
</div>
